
#container{
  position: relative;
 background-image: url('./../../../../assets/furgone_001.png');
  background-size: contain;
  background-repeat: no-repeat;
   width: 600px; height: 400px;
}


#id-1 {
  left: 55px;
  top: 55px;
  width: 85px;
  height: 30px;
}

#id-2 {
  left: 141px;
  top: 55px;
  width: 85px;
  height: 35px;
}


#id-3 {
  left: 55px;
  top: 98px;
  width: 82px;
  height: 8.123px;
}

#id-4 {
  left: 145px;
  top: 98px;
  width: 70px;
  height: 8.123px;
}

#id-5 {
  left: 145px;
  top: 118px;
  width: 80px;
  height: 12px;
}

#id-6 {
  left: 250px;
  top: 100px;
  width: 40px;
  height: 16px;
}

#id-7 {
  left: 442px;
  top: 97px;
  width: 50px;
  height: 16px;
}

#id-8 {
  left: 417px;
  top: 240px;
  width: 47px;
  height: 40px;
}

#id-9 {
  left: 467px;
  top: 240px;
  width: 47px;
  height: 40px;
}

#id-16 {
  left: 467px;
  top: 300px;
  width: 47px;
  height: 20px;
}
#id-10 {
  left: 248px;
  top: 240px;
  width: 90px;
  height: 40px;
}
#id-11 {
  left: 160px;
  top: 240px;
  width: 85px;
  height: 40px;
}

#id-12 {
  left: 248px;
  top: 285px;
  width: 90px;
  height: 12px;
}
#id-13 {
  left: 160px;
  top: 285px;
  width: 85px;
  height: 12px;
}
#id-14 {
  left: 160px;
  top: 305px;
  width: 85px;
  height: 12px;
}

#id-15 {
  left: 100px;
  top: 290px;
  width: 40px;
  height: 16px;
}

#id-16 {
  left: 467px;
  top: 300px;
  width: 47px;
  height: 20px;
}
[class^="red-"] {
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  background: lightgrey;
}



.red-fade {
  transition-duration: 0.3s;
}
.red-fade:hover, .red-fade:focus, .red-fade:active {
  background-color: white;
  color: white
}

.colonna {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

#param {
  border: solid lightgrey 1px;
  border-radius: 20px;
  padding: 5px;
  width: 600px !important;
}

#textarea{
  width: 380px !important;
}

.numero{
  width: 80px !important;

}

