<div class="card" *ngIf="orderList; else alt">
  <h5 class="card-header info-color white-text text-center py-4">
    <strong class="display-4">Inserisci Bozza Progetto</strong>
  </h5>
  <div class="card-body px-lg-5 pt-0">
    <form class="bg-light p-5" (ngSubmit)="onSubmit()">
      <div class="row justify-content-center">
        <mat-form-field appearance="fill" class="mr-2">
          <mat-label>Seleziona</mat-label>
          <mat-select name="orderId" (ngModel)="orderId" #orderId="ngModel" [(ngModel)]="selectedOrderId" required (selectionChange)="onChange()">
            <mat-option *ngFor="let element of orderList | keyvalue ; index as i" [value]="element.value.oid">
              {{element.value.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>



        <mat-form-field appearance="fill" class="mr-2">
          <mat-label>Identificativo del progetto:</mat-label>
          <mat-select name="projectId" (ngModel)="projectId" #projectId="ngModel" [(ngModel)]="idProject" required>
            <mat-option *ngFor="let element of projectIdList | keyvalue ; index as i" [value]="element.value">
              {{element.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </div>
            <div *ngFor="let progetti of orderList | keyvalue" class="row justify-content-center mb-2">
              <div *ngIf="progetti.value.oid === selectedOrderId">
                <cdk-virtual-scroll-viewport [itemSize]="50" class="example-viewport">
                  <div *ngFor="let progetto of progetti.value.progetto | keyvalue">
                    <ul>
                      <li class="media">
                        <div *ngIf="progetto.value.image; else alt">
                          <img *ngFor="let img of progetto.value.image | keyvalue" src="{{img.value}}" width="130" class="mr-3"
                            alt="...">
                        </div>
                        <ng-template #alt>
                          <img src="" alt="null img" width="130" class="mr-3">

                        </ng-template>

                        <div class="media-body mb-3">
                          <h3 class="mt-0"><b>Identificativo del progetto: <b
                                class="text-info">{{progetto.value.projectNumber}}</b></b></h3>
                          <span>{{progetto.value.materiale}}</span>
                          <span *ngIf="progetto.value.spessore">- spessore {{progetto.value.spessore}} mm</span>
                          <span *ngIf="progetto.value.calpestabile">Calpestabile</span>
                          <span *ngIf="progetto.value.luminosa">{{progetto.value.luminosa}}</span>
                          <span *ngIf="progetto.value.opalino">- {{progetto.value.opalino}}</span>
                          <span *ngIf="progetto.value.palo">- Altezza palo: {{progetto.value.palo}} m</span>
                          <span *ngIf="progetto.value.base">- misura
                            {{progetto.value.base}}x{{progetto.value.altezza}}cm</span>
                          <span *ngIf="progetto.value.diametro">- diametro {{progetto.value.diametro}}cm</span>
                          <span *ngIf="progetto.value.laminazione">- laminazione {{progetto.value.laminazione}}</span>
                          <span *ngIf="progetto.value.pieghe">- Pieghe</span>
                          <span *ngIf="progetto.value.occhielli">- Occhielli</span>
                          <span *ngIf="progetto.value.bifacciale">- Bifacciale</span>
                        </div>
                      </li>
                      <mat-divider></mat-divider>

                    </ul>

                  </div>
                </cdk-virtual-scroll-viewport>
              </div>

            </div>

      <div class="row justify-content-center">
        <ng-file-drag-drop (uploadedFiles)="getUploadedFiles($event)" [fileConfig]="dragDropConfig">
        </ng-file-drag-drop>

      </div>



      <button class="btn btn-primary waves-light rounded-pill float-right" type="submit">Invia Bozza</button>


    </form>
  </div>
</div>
<ng-template #alt>
  <div class="jumbotron blue-grey lighten-5">
    <h1>Devi prima selezionare il Rappresentante</h1>

  </div>

</ng-template>
