<form #myform="ngForm">
  <mat-form-field>
    <mat-label>Seleziona Ordine</mat-label>
    <mat-select class="mdb-select md-form colorful-select dropdown-primary" name="orderID" [(ngModel)]="orderID"
      (selectionChange)="onSubmit()">
      <mat-option *ngFor="let element of orders | keyvalue" value="{{element.key}}">{{element.value.nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<div class="container mat-elevation-z5" *ngIf="show;else alt">
  <div class="jumbotron" *ngIf="result">
    <div class="row justify-content-center">
      <span class="card m-2" *ngFor="let image of task.subtasks ; index as i" style="width: 12rem;">

        <img class="card-img-top" [src]="image.src" alt="id progetto{{image.idproject}}" (click)="open(i)"
          style="position: relative;">
        <div class="card-header">
          id Bozza: {{image.idproject}}
        </div>
        <div class="card-body">
          <span><b>Nome File:</b> {{nome}} - {{progetti[i]['materiale']}} - copie {{progetti[i]['copie']}}</span>
          <span *ngIf="progetti[i]['spessore']">spessore {{progetti[i]['spessore']}} mm</span>
          <span *ngIf="progetti[i]['calpestabile']"> - Calpestabile</span>
          <span *ngIf="progetti[i]['luminosa']"> - {{progetti[i]['luminosa']}}</span>
          <span *ngIf="progetti[i]['opalino']"> - {{progetti[i]['opalino']}}</span>
          <span *ngIf="progetti[i]['palo']"> - Altezza palo: {{progetti[i]['palo']}} m</span>
          <span *ngIf="progetti[i]['base']"> - misura {{progetti[i]['base']}}x{{progetti[i]['altezza']}}cm</span>
          <span *ngIf="progetti[i]['diametro']"> - diametro {{progetti[i]['diametro']}}cm</span>
          <span *ngIf="progetti[i]['laminazione']"> - laminazione {{progetti[i]['laminazione']}}</span>
          <span *ngIf="progetti[i]['pieghe']"> - Pieghe</span>
          <span *ngIf="progetti[i]['occhielli']"> - Occhielli</span>
          <span *ngIf="progetti[i]['bifacciale']"> - Bifacciale</span>
        </div>
      </span>
    </div>
  </div>


  <div class="row justify-content-center" *ngIf="result" [hidden]="user.utente == 'rappresentante'">
    <button class="btn btn-success mr-3 waves-light rounded-pill" mdbBtn mdbWavesEffect type="button"
      (click)="completed()">Ordine Completo</button>
    <button class="btn btn-warning mr-3 waves-light rounded-pill" mdbBtn mdbWavesEffect type="button"
      (click)="external()">Ordine Esterno </button>
    <button class="btn btn-outline-dark mr-3 waves-light rounded-pill" mdbBtn mdbWavesEffect type="button"><a
        href="https://wetransfer.com" target="_blank">Invia tramite WeTransfer</a></button>
  </div>


</div>
<ng-template #alt>
  <div class="jumbotron">
    Non ci sono Bozze accettate
  </div>
</ng-template>
