<!-- Vertically centered modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sicuro di voler uscire?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="exit()">Esci</button>
      </div>
    </div>
  </div>
</div>
<!-- End modal -->


<nav class="navbar fixed-top navbar-expand-lg navbar-dark special-color-dark">
  <div class="container">

    <a class="h2 mr-2 text-light text-decoration-none" routerLink="home">LM16</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link h4" routerLink="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link h4" *ngIf="!show" routerLink="login">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h4" *ngIf="show" routerLink="user">Utente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h4" *ngIf="show" routerLink="help">Guida</a>
        </li>
        <li class="nav-item h4" id="exit">
          <a class="nav-link" *ngIf="show" data-toggle="modal" data-target="#exampleModal" >Esci</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="parent container" style="padding-top: 70px; padding-right: 0px; padding-left: 0px">
  <router-outlet></router-outlet>
</div>

