<form #myform="ngForm">
    <mat-form-field>
      <mat-label>Seleziona Ordine</mat-label>
      <mat-select class="mdb-select md-form colorful-select dropdown-primary" name="orderID" [(ngModel)]="orderID" (selectionChange)="onSubmit()">
        <mat-option *ngFor="let element of orders | keyvalue" value="{{element.key}}">{{element.value.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

<div class="container mat-elevation-z5" *ngIf="show;else alt">
  <div class="jumbotron" *ngIf="result">
    <div class="row justify-content-center">
      <span class="card m-2" *ngFor="let image of task.subtasks ; index as i" style="width: 12rem;">
        <img class="card-img-top" [src]="image.src" alt="id progetto{{image.idproject}}" (click)="open(i)"
          style="position: relative;">
        <div class="card-header">
          id Progetto: {{image.idproject}}
        </div>
        <div *ngIf="image.modifiche" class="card-body">
          <b>Modifiche da apportare: {{image.modifiche}}</b>
        </div>
        <div class="card-footer">
          <mat-label>spunta per selezionare</mat-label>
          <mat-checkbox class="float-right" [(ngModel)]="image.completed"
            value="{{image.idproject}}"></mat-checkbox>
        </div>
      </span>
    </div>
  </div>


<div class="row justify-content-center" *ngIf="result">
      <button class="btn btn-primary mr-3 waves-light rounded-pill" mdbBtn mdbWavesEffect type="button" data-toggle="modal" data-target="#modifica" (click)="modal()">
        Modifiche da apportare
      </button>


        <button class="btn btn-outline-dark mr-3 waves-light rounded-pill" mdbBtn mdbWavesEffect type="button" (click)="setAll()">{{task.name}}</button>



      <button class="btn btn-danger mr-3 waves-light rounded-pill" mdbBtn mdbWavesEffect type="button" (click)="removeDraft()">Rimuovi Bozza</button>


        <button class="btn btn-success mr-3 waves-light rounded-pill" mdbBtn mdbWavesEffect type="button" (click)="accept()">Accetta Bozza</button>


</div>

</div>
<ng-template #alt>
  <div class="jumbotron">
    Non ci sono Bozze da visualizzare
    </div>
</ng-template>
